<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9a889">  <td>18/02/27 10:55:35</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;RegistrationTest1.beforeTest()[pri:0, instance:com.DemoQARegistration.RegistrationTest1@ff5b51f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1843368112</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>18/02/27 10:56:07</td>   <td>32004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest1.checkRegistration1()[pri:0, instance:com.DemoQARegistration.RegistrationTest1@ff5b51f]">checkRegistration1</td> 
  <td>main@1843368112</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>18/02/27 10:56:17</td>   <td>42205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest1.takeFailedScreenshot(org.testng.ITestResult)[pri:0, instance:com.DemoQARegistration.RegistrationTest1@ff5b51f]">&lt;&lt;takeFailedScreenshot</td> 
<td>&nbsp;</td>  <td>main@1843368112</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>18/02/27 10:56:36</td>   <td>60795</td> <td>&nbsp;</td><td title="&lt;&lt;RegistrationTest1.afterTest()[pri:0, instance:com.DemoQARegistration.RegistrationTest1@ff5b51f]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1843368112</td>   <td></td> </tr>
</table>
