<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d992b2">  <td>18/02/07 14:11:15</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AlertHandling.beforeTest()[pri:0, instance:com.Guru99PageTests.AlertHandling@4b952a2d]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1262822392</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>18/02/07 14:11:36</td>   <td>21705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlertHandling.handleAlertsInGuru99()[pri:0, instance:com.Guru99PageTests.AlertHandling@4b952a2d]">handleAlertsInGuru99</td> 
  <td>main@1262822392</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>18/02/07 14:11:39</td>   <td>24091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AlertHandling.takeFailedScreenshot(org.testng.ITestResult)[pri:0, instance:com.Guru99PageTests.AlertHandling@4b952a2d]">&lt;&lt;takeFailedScreenshot</td> 
<td>&nbsp;</td>  <td>main@1262822392</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>18/02/07 14:11:39</td>   <td>24106</td> <td>&nbsp;</td><td title="&lt;&lt;AlertHandling.afterTest()[pri:0, instance:com.Guru99PageTests.AlertHandling@4b952a2d]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1262822392</td>   <td></td> </tr>
</table>
