<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6e1f4">  <td>17/10/29 17:03:06</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;VerifyLoginPage.afterTest()[pri:0, instance:com.HomePageTests.VerifyLoginPage@3c0ecd4b]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540585569</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>17/10/29 17:02:55</td>   <td>-10465</td> <td>&nbsp;</td><td title="&gt;&gt;VerifyLoginPage.beforeTest()[pri:0, instance:com.HomePageTests.VerifyLoginPage@3c0ecd4b]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540585569</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>17/10/29 17:03:05</td>   <td>-954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyLoginPage.f()[pri:0, instance:com.HomePageTests.VerifyLoginPage@3c0ecd4b]">f</td> 
  <td>main@540585569</td>   <td></td> </tr>
</table>
